/* Main Color Palette */
$hmp-primary: #f63365;
$hmp-secondary-1: #ffb400;
$hmp-secondary-2: #3c2f51;
$hmp-light-neutral: #ffffff;
$hmp-neutral: #fafafc;
$hmp-dark-neutral: #e7e7f1;
$hmp-comp-neutral: #000000;